body {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #c7eefeef;
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 150px;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.socials-name a {
    background-color: rgba(195, 177, 211, 0.5);
    border-radius: 48px;
    text-decoration: none;
    color: #fffffe;
    align-items: center;
    padding: 10px;
}

.link {
    background-color: rgba(195, 177, 211, 0.5);
    border-radius: 48px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.link1{
    color: #fffffe;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 640px;
    flex-grow: 1;
}

.banner {
    display: flex;
    justify-content: center;
}

.socials-name {
    display: flex;
    justify-content: space-around;
}
